<%- include('../includes/head.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigation.ejs', {user: user}) %>
        <main class="centered">
            <h1><%= us.username %></h1>
            <hr>
            <div>
                <img src="<%= us.imageUrl %>" alt="<%= us.username %>" width="500">
            </div>
            <h2><%= permission.name %></h2>
            <div class="user__actions">
                <a href="/admin/edit-user/<%= us.id %>" class="btn">Edytuj</a>
                <form action="/admin/delete-user" method="POST">
                    <input type="hidden" value="<%= us.id %>" name="userId">
                    <button class="btn" type="submit">Delete</button>
                </form>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>